
    body{
        margin: 0%;
        padding: 0%;
    
    }
    header{
        width: 100%;
        height: 100px;
        background-image:linear-gradient(to right, red,green,blue) ;
    }
    #logobox{
        width: 30%;
        height: 100%;
        float: right;
        background-color: ghostwhite;
    }
    #H1-HADER{
        float: left;
        line-height:50px;
        padding: 0 15px;
        float: right;
    }
    #IMG-HADER{
        
        border-radius: 50%;
        height: 100%;
        float: right;
       
    }
    header a{
        text-decoration: none;
        color: rgb(30, 30, 32);
        font-weight: bold;
        font-size: 20px;
    
    }
    nav{
        width: 59%;
        text-align: left;
        
    }
    nav a{ 
        display: inline-block;
        text-decoration: none;
        color: rgb(230, 230, 250);
        font-weight: bold;
        font-size: 20px;
    
    }
    nav li{
        display: inline-block;
        line-height: 100px;
        width: 15%;
        background-color: darkgrey;
        text-align: center;
        border-radius: 20px;
    
    
    }
    nav a:hover{
        background-color: white;
        color:black;
        height: 90%;
        width: 100%;
    }
    main{
        width:100%;
           height: 450px;
           background-color: cornflowerblue;
           border-top:5px solid rgb(212, 42, 42);
          
    animation-name:main-bakground ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
     
    }
    @keyframes main-bakground{
        0%{
            background-color: rgba(189, 190, 194, 0.171);
        }
        25%{
            background-color: rgb(75, 129, 143);
        }
        50%{
            background-color: rgb(39, 59, 39);
    
        }
    
    }
    #aside1{
        text-align: center;
        width: 25%;
        height: 100%;
        background-color: lightseagreen;
        float: left;
       
    
    }
    #aside1 img{
        width: 90%;
        height: 200px;
        border-radius: 30px;
       
        
    
    }
    #aside1 h1{
        width: 100%;
        padding-top: 3px;
        color: white;
        border-bottom: 2px double red;
       
    }
    #aside2{
        width: 15%;
        height: 100%;
        background-color: rgb(58, 65, 64);
        float: right;
        clip-path: polygon(55% 0, 100% 0, 100% 100%, 81% 100%);
        animation-name:aside2 ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
     
     
    
    }
    
    
    @keyframes aside2{
        0%{
            background-color: rgb(44, 216, 44);
          
        }
        25%{
            background-color: rgb(194, 18, 179);
        }
        75%{
            background-color: blue;
    
    
        }
        90%{
       
        }
        100%{
            background-color: cadetblue;
    
        }
    }
        #pre_1{
            background-color: rgb(109, 70, 112);
            font-size: 20px;
            color:white;
            text-align: left;
            width: 90%;
            height: 165PX;
            animation-name:  tracking-in-contract-bck-top;
            animation-duration: 7s;
            animation-iteration-count: 2;
            margin-left: 15px;
            margin-bottom: 25px;
    
        }
    
/* ----------------------------------------------
 * Generated by Animista on 2021-10-30 14:43:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes tracking-in-contract-bck-top{0%{letter-spacing:1em;-webkit-transform:translateZ(400px) translateY(-300px);transform:translateZ(400px) translateY(-300px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}@keyframes tracking-in-contract-bck-top{0%{letter-spacing:1em;-webkit-transform:translateZ(400px) translateY(-300px);transform:translateZ(400px) translateY(-300px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}
    
    #artical_1{
        
        width: 60%;
        height: 400Px;
        float: right;
        position: relative;
    }
    #box{
        padding: 5px;
        border-radius: 15px;
        
        width: 30%;
        height: 190px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    
       
    }
    #box-h1{
        border-bottom: 3px solid rgb(197, 31, 31);
        padding: 5px 0px;
    }
    #box-p{
        font-family: 'Lemonada', cursive;
    font-family: 'Tajawal', sans-serif; /*لجعل الخطا ملاء المكان وحذف الفرغات - تم استعمال جوجل فونى*/
    text-align: right justify;
    
    
    }
    #contact_1{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
       
    }
    #contact_1 img{
        width: 50%;
        ;/*to add iteam to centaer */
        margin: 2px;
        border: 2px double red;
        padding: 3px;
        border-radius: 50%;
    
        
       
    }
    #contact_1 img:hover{
        width: 55%;
        border: 2px double rgb(49, 46, 46);
        background-color: rgb(109, 70, 112);
    
    }
 /*   
    @media all{

    }
*/
#print1{
    display: none; /* لاخفاء عنصر**/
}

@media print{ /* تحديد المكات المراد طياعته او لا*/
    aside{
        display: none;
    }
    nav{
        display: none;
    }
    #print1{
        display: block; /* لاظهار عنصر**/
    }
}
 /* لتحدي قياسات الشاه او تحديد نوع معين من المقاس لتنفيذ كود معين 
  ما يكون بين الاقواس هو الشروط التي يتم تنفيذها يمكن الغاء 
*/
/*لاضافه تحكم في الشاشه في حد بين  هذا العرض*/
 
  @media only screen and (max-width:940px) and (min-width:802px) {  
    #logobox{
        width: 40%;

    }

    #artical_1{
        width:65%;

}
aside{
    width:35%
}
}
/*لاضافه تحكم في الشاشه في حد اقل من هذا العرض*/
@media only screen and (max-width:801px) {
    header ,main{
        height: auto;
       
    }
    #logobox{
        width: 100%;
        text-align: center;
    }
    #H1-HADER , #IMG-HADER{
        float: none;
    }
    span a{
        text-decoration: none;
    }

    nav{
        width: 100%;
    }
    #aside1{
        width: 100%;
    }
    #artical_1{
        width:100% ;
        height: 230px;
        background-color: gainsboro;

    }

}
@media only screen and (max-width:500px){
    nav li{
        display:block ;/* يجعل العناصر فوق بعضها -لجعل العناصر بجوار بعضها inline-bloke*/ 
        width: 100%;
      

    }
}
/*لاضافه تحكم في الشاه في وضع العرض*/
@media  only screen and (orientation:landscape) and(max-width:500px) {

      #logobox{
          background-color: gold;
      }
}